.col {
    background-color: green;
    color: white;
    margin: 20px;
    padding: 20px;
    height: 40px;
    width: 100px;
}

.next1 {
    background-color: red;
    color: white;
    margin: 20px;
    padding: 20px;
    height: 110px;
    width: 100px;
}

.next2 {
    background-color: blue;
    color: white;
    margin: 20px;
    padding: 20px;
    height: 110px;
    width: 100px;
}

.next3 {
    background-color: yellow;
    color: white;
    margin: 20px;
    padding: 20px;
    height: 110px;
    width: 100px;
}