<p>about works!</p>
<div>


    <!-- <angular-image-slider [images]="imagesUrl"></angular-image-slider> -->
    <angular-image-slider [autoRotate]="true" [autoRotateAfter]="5000" [autoRotateRight]="true" [images]="imagesUrl"></angular-image-slider>
</div>
<!-- <div>
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="/assets/images/2.jpeg" alt="Angular Carousel 1">
            </div>
            <div class="carousel-caption">
                <h3>Title Goes Here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/images/2.jpeg" alt="Angular Carousel 2">
            </div>
            <div class="carousel-caption">
                <h3>Title Goes Here</h3>
                <p>Consectetur tortor volutpat pretium.</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div> -->